<div class="accordion-item">
    <h2 class="accordion-header" id="fetalinfo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFetalInfo" 
      aria-expanded="false" aria-controls="collapseOne">
        Fetal info
      </button>
    </h2>
    <div id="collapseFetalInfo" class="accordion-collapse collapse" aria-labelledby="fetalinfo"
      data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <hr class="bg-danger border-2 border-top border-danger"><br>
        hello
        </div>
    </div>
</div>